# Самостоятельная 1
Социлогия | 1 курс | ППО
Преподаватели: Рогович Т.В., Лебедева В.А, Бирюков В.А.

## Формат проведения

**Списывание и использование телефонов**

Первое предупреждение, сделанное ассистентом или преподавателем: - 1 балл к вашей оценке.

Второе предупреждение: работа аннулируется без права переписывания.


## **Важно**
## Все задачи должны принимать значения на ввод (решение для частного случая будет считаться неполным).

**1. Тест**  
*(2 балла, каждый ответ 0.2 балла)*

1. Как выглядит знак возведения в степень в Python?

In [0]:
# **

2. Выведите строки, данные ниже, следующим образом, дополнив код на месте многоточия в следующей ячейке. После 'Форматирование---' и "Это---" должна быть пустая строка. Новые print() создавать нельзя:

Форматирование---

Это---

Просто---

In [0]:
print('Форматирование', 'Это', "Просто", ...) # sep = '---\n\n', end = '---'

Форматирование Это Просто Ellipsis

3. Укажите правильный способ конкатенации строк.         
а. 'string1' + 'string2'  
b. 'string1' . 'string2'  
c.  'string1'.strip() 'string2'  
d.  'string1' : 'string2'"

In [0]:
# a

4. Что из ниже перечисленного является правильным написанием логической переменной “ложь” в Python?  
a. FALSE  
b. False  
c. false

In [0]:
# b

5. Какая из перечисленных операций 
сравнений является верной?      
a. <>  
b. =<  
c. =  
d. !=

In [0]:
# d

6. Какой тип данных имеет выражение 2.5 * 5?        
a. int  
b. float  
c. dict  
d. string

In [0]:
# b

7. В чем отличие math.floor от math.ceil()?

In [0]:
# Первая округляет в меньшую сторону, вторая - в большую.

8. К строке применили функцию:   
replace('||', '|'). 

Программа вывела следующую строку: 
'| |'

Какой была исходная строка?

In [0]:
# '|| ||'

9. Пароль должен состоять ровно из 10 символов и состоять только из букв. Вам даны два пароля, напишите программу, которая проверит их на правильность и выведет True для правильного пароля и False для неправильного.

In [0]:
pass1 = 'qweABCjoHn'
pass2 = 'asdfPassword1' 

print(len(pass1) == 10 and pass1.isalpha())
print(len(pass2) == 10 and pass2.isalpha())

True
False

10. Дана строка с разными почтовыми ящиками. С помощью метода строковых переменных выведите количество почтовых адресов в строке. В этой задаче, все, что содержит знак '@', считается правильным почтовым адресом.

In [0]:
emails =  'abc@gmail.com top_gamer2009@rambler.ru zuckerberg.yahoo.com'

emails.count('@')

2

**2. Задачи на срезы строк**  
*(1 балл, каждый вопрос 0.25 баллов)*

In [0]:
ex3 = "Please call me at 12:34 on the number 89123456789."

1. Выведите строку, состоящую из первых 4-х символов данной строки

In [0]:
ex3[:4]

'Plea'

2. Выведите строку без последнего символа с использованием индексации с конца строки

In [0]:
ex3[:-1]

'Please call me at 12:34 on the number 89123456789'

3. Выведите строку, идущую в обратном направлении

In [0]:
ex3[::-1]

'.98765432198 rebmun eht no 43:21 ta em llac esaelP'

4. Выведите строку, образованную из нечетных индексов данной строки
('Pes alm t1:4o h ubr813579')

In [0]:
ex3[::2]

'Pes alm t1:4o h ubr813579'


## **Важно**
## Все задачи должны принимать значения на ввод (решение для частного случая будет считаться неполным).

## **3. Задача 1**
*(0.75 балла)*

### Условие

Напишите программу, которая прибавляет 1 к натуральному числу N (длина числа N до 1000 знаков)

### Формат ввода

Дано чиcло N.

### Формат вывода



Выведите число N+1.

### Пример 1

**Ввод:** 1 <br>
**Вывод:** 2

### Пример 2

**Ввод:** 5 <br>
**Вывод:** 6

### Пример 3

**Ввод:** 9 <br>
**Вывод:** 10

In [0]:
N = int(input())
print(N+1)

1
2

## **4. Задача 2**
*(0.75 балла)*

## 100 раз подряд в квадрате

### Условие
Заданное число N записали 100 раз подряд и затем возвели в квадрат. Что получилось? 

### Формат ввода



Вводится целое неотрицательное число N не превышающее 1000. 

### Формат вывода



Выведите ответ на задачу.

### Пример

**Ввод:** 0 <br>


**Вывод:** 0

In [0]:
N_str = input ()

N_long = int(N_str * 100)
print(N_long ** 2)

0
0

## **5. Задача 3**
*(1 балл)*

## Вова и планеты

 ### Условие

Вова хочет стать космонавтом и ему интересно, сколько ему и его друзьям исполнилось лет в системе летоисчесления других планет Солнечной системы. Напишите программу, которая бы рассчитывала возраст человека на Венере, Марсе и Луне. Программе дается на ввод имя, возраст и название планеты (Венера, Марс, Луна), а выводится возраст, рассчитаный для этой планеты, по образцу в примере.

Получившийся возраст может иметь дробную часть. Не округляйте его.

Коэффициент возраста для Юпитера: 0.033  
Коэффициент возраста для Марса: 0.531  
Коэффициент возраста для Венеры: 1.62

### Пример 1

**Ввод:** <br>
Вова <br>
13 <br>
Юпитер <br>

**Вывод:** <br>
На планете Юпитер Вова живет уже 0.429 лет

### Пример 2

**Ввод:** <br>
Андрей <br>
17 <br>
Марс <br>

**Вывод:** <br>
На планете Марс Андрей живет уже 9.027 лет

In [0]:
name = input()
age = int(input())
planet = input ()

if planet == 'Марс':
  age = age * 0.531
elif planet == 'Юпитер':
  age = age * 0.033
else:
  age = age * 1.62

print('На планете', planet, name, 'живет уже', age, 'лет')

Андрей
17
Марс
На планете Марс Андрей живет уже 9.027000000000001 лет

## **6. Задача 4**
*(1 балл)*

## Список квадратов

### Условие
По данному целому числу N распечатайте все квадраты натуральных чисел, не превосходящие N, в порядке возрастания.

### Формат ввода



Вводится натуральное число.

### Формат вывода



Выведите ответ на задачу.

### Пример 1

**Ввод:** 50 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>
16 <br>
25 <br>
36 <br>
49

### Пример 2

**Ввод:** 10 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>

### Пример 3

**Ввод:** 9 <br>

**Вывод:** <br>
1 <br>
4 <br>
9 <br>

In [0]:
N = int(input())

x = 1
while x**2 <= N:
  print(x ** 2)
  x += 1

9
1
4
9

## **7. Задача 5**
*(2 балла)*

## Ход слона

### Условие



Шахматный слон ходит по диагонали. Даны две различные клетки шахматной доски, определите, может ли слон попасть с первой клетки на вторую одним ходом.

### Формат ввода



Программа получает на вход четыре числа от 1 до 8 каждое, задающие номер столбца и номер строки сначала для первой клетки, потом для второй клетки.

### Формат вывода



Программа должна вывести YES, если из первой клетки ходом слона можно попасть во вторую или NO в противном случае.

### Пример 1

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
5 <br>

**Вывод:** <br>
YES

### Пример 2

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
4 <br>

**Вывод:** <br>
NO

### Пример 3

**Ввод:** <br>
4 <br>
4 <br>
5 <br>
3 <br>

**Вывод:** <br>
YES

In [0]:
x1 = int(input())
y1 = int(input())

x2 = int(input())
y2 = int(input())

if (x1 - x2)**2 == (y1 - y2)**2:
  print('YES')
else:
  print('NO')

4
4
5
5
YES

## **8. Задача 6**
*(1.5 балла)*

## Среднее значение последовательности

### Условие





Определите среднее значение всех элементов последовательности, завершающейся числом 0. Использовать массивы в данной задаче нельзя.

### Формат ввода





Вводится последовательность целых чисел, оканчивающаяся числом 0 (само число 0 в последовательность не входит, а служит как признак ее окончания.

### Формат вывода





Выведите ответ на задачу.

### Пример 1

**Ввод:** <br>
1 <br>
7 <br>
9 <br>
0 <br>

**Вывод:** <br>
5.66666666667

### Пример 2

**Ввод:** <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
1 <br>
0 <br>

**Вывод:** <br>
1.0

### Пример 3

**Ввод:** <br>
34 <br>
2345 <br>
2345 <br>
2345 <br>
2345 <br>
345 <br>
3 <br>
345 <br>
3 <br>
345 <br>
1 <br>
3 <br>
424 <br>
5 <br>
453 <br>
0 <br>

**Вывод:** <br>
756.066666667

In [0]:
sequence_sum = 0
sequence_count = 0

x = int(input())
while x != 0:
  
  sequence_sum += x
  sequence_count += 1
  x = int(input())

print(sequence_sum/sequence_count)

34
2345
2345
2345
2345
345
3
345
3
345
1
3
424
5
453
0
756.0666666666667